body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container-fluid{
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #0056b3;
    color: #fff;
}

.btn-logout {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.page-item.disabled .page-link {
    pointer-events: none;
    opacity: 0.5;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
}

.page-link {
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #f0f0f0;
    color: #0056b3;
}
